<!DOCTYPE html>
  <html>
    <head>
      <title>About</title>
       <link href="/assets/style1.css" rel="stylesheet" type="text/css" />
    </head>
    <body class= "body2">
     <div id= "header">
 		<h3><%= name %></h3>
 	 </div>
     <% include partials/nav.ejs %>

    </body>

  </html>